<% include ../partials/header %>

<div class="container shadow mt-3 p-3 white">
	<div class="d-flex justify-content-between">
        <div><h1>Change event details for <strong><%=event.title%></strong></h1></div>
		<div><a href="/calendar/event/<%=event._id%>" class="btn btn-info">View Event</a></div>
	</div>
    <hr>

    <form action="/calendar/event/edit/" method="POST">
		<% if(error && error.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=error%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>

        <% if(success && success.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>

        <div class="form-group">
            <label for="name">Event Name</label>
            <input id="name" class="form-control" type="text" name="eventname" value="<%=event.title%>" required>
        </div>

        <div class="form-group">
            <label for="desc">Event Description</label>
            <textarea id="desc" class="form-control" name="desc" maxLength = "500" required><%=event.description%></textarea>
            <small class="form-text text-muted">The max length of an event description is 500 characters.</small>
        </div>

        <div class="form-group">
            <label for="img">Image URL</label>
            <input id="img" class="form-control" list="defaultURLs" type="text" name="imagename" value="<%=event.imageName%>" placeholder="enter an image link, or select a standardized one from the list" pattern="\/event\/.+\.(jpg|png)|https?:\/\/.+\.(jpg|jpeg|png)">
			<datalist id="defaultURLs">
				<option value="/event/AAS.jpg">
				<option value="/event/AEQ.jpg">
				<option value="/event/AS.jpg">
				<option value="/event/ATQ.jpg">
				<option value="/event/BCT.jpg">
				<option value="/event/BLC.jpg">
				<option value="/event/CLS.jpg">
				<option value="/event/FTX1.jpg">
				<option value="/event/FTX2.jpg">
				<option value="/event/FTX3.jpg">
				<option value="/event/FTX4.jpg">
				<option value="/event/GLQ.jpg">
				<option value="/event/MWS1.jpg">
				<option value="/event/MWS2.jpg">
				<option value="/event/RS.jpg">
			</datalist>
            <small class="form-text text-muted">Only JPG or PNG images are allowed.</small>
        </div>

        <div class="form-group">
            <label for="type">Event Type</label>
            <select class="form-control" id="type" name="eventtype" required>
                <option><%=event.eventType.type%></option>
                <option>Basic Combat Training</option>
                <option>Qualification</option>
                <option>Training/FTX</option>
                <option>Deployment</option>
                <option>Staff Meeting</option>
            </select>
        </div>

        <div class="form-group">
            <label for="start">Start Date</label>
            <input class="form-control" id="start" type="date" name="eventstart" value=<%=event.start%> required>
        </div>

        <div class="form-group">
            <label for="start">Start Time</label>
            <input class="form-control" id="start" type="time" name="eventtime" value=<%=event.startTime%> required>
            <small class="form-text text-muted">Start time for the event in EST only.</small>
        </div>

		<input id="id" class="form-control" type="text" name="id" value="<%=event.id%>" hidden>
		<div class="form-group"><button class="btn btn-primary" >Submit Changes</button></div>

    </form>
</div>

<% include ../partials/footer %>