<% include ../partials/header %>

<div class="container shadow mt-3 mb-5 p-3 white-transparent">
	<div class="card">
        <div class="card-header">
            <h5>Requests</h5>
		</div>
		<ul class="nav nav-tabs nav-justified" style="background-color: lightgrey" id="requestTabs" role="tablist">
            <li class="nav-item">
                <% if (viewRequests == "Applications") { %>
                    <a class="nav-link active" id="applications-tab" href="/opcenter/requests/applications?page=1" role="tab" aria-controls="applications"
                    aria-selected="true">Applications</a>
                <% } else { %>
                    <a class="nav-link" id="applications-tab" href="/opcenter/requests/applications?page=1" role="tab" aria-controls="applications"
                    aria-selected="false">Applications</a>
                <% } %>
            </li>
            <li class="nav-item">
                <% if (viewRequests == "Discharges") { %>
                    <a class="nav-link active" id="discharges-tab" href="/opcenter/requests/discharges?page=1" role="tab" aria-controls="discharges"
                    aria-selected="true">Discharges</a>
                <% } else { %>
                    <a class="nav-link" id="discharges-tab" href="/opcenter/requests/discharges?page=1" role="tab" aria-controls="discharges"
                    aria-selected="false">Discharges</a>
                <% } %>
			</li>
			<li class="nav-item">
                <% if (viewRequests == "Leaves") { %>
                    <a class="nav-link active" id="leaves-tab" href="/opcenter/requests/leaves?page=1" role="tab" aria-controls="leaves"
                    aria-selected="true">Leaves</a>
                <% } else { %>
                    <a class="nav-link" id="leaves-tab" href="/opcenter/requests/leaves?page=1" role="tab" aria-controls="leaves"
                    aria-selected="false">Leaves</a>
                <% } %>
            </li>
		</ul>
		<div class="tab-content" id="requestTabsContent">
            <br>
            <div class="tab-pane fade show active" id="alltab" role="tabpanel">
                <table class="table table-bordered table-sm text-center">
                    <thead>
                        <tr>
							<th scope="col" style="width: 20%">User</th>
							<th scope="col" style="width: 25%">Position</th>
							<th scope="col" style="width: 15%">Created</th>
							<th scope="col" style="width: 10%">Status</th>
							<th scope="col" style="width: 10%">Open</th>
							<th scope="col" style="width: 10%">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% requests.forEach(function(request) { %>
							<% for(var i = 0; i < users.length; i++) { %>
								<% if(users[i]._id == request.ownerID) { %>
									<% var user = users[i]; %>
									<tr>
										<td class="align-middle"><a href="/user/<%=user._id%>"><% if(user.rank.toLowerCase() !== "none") { %><%=user.rank%><% } %> <%=user.displayname%></a></td>
										<% if(user.unit.squad.toLowerCase() === "none" && user.unit.platoon.toLowerCase() === "none") { %>
											<td class="align-middle">Not Assigned</td>
										<% } else { %>
											<td class="align-middle"><%=user.unit.squad%>, <%=user.unit.platoon%>, <%=user.unit.company%></td>
										<% } %>
										<td class="align-middle"><%=request.dateCreated.toDateString()%></td>
										<td class="align-middle"><span class="<%=request.read%>"><%=request.read%></span></td>
										<td class="align-middle">
											<form action="/opcenter/viewrequest/<%=request._id%>" method="post">
												<input class="form-control" type="hidden" name="requestType" value="<%=request.requestType%>">
												<button class="btn btn-primary btn-sm">Open Request</button>
												<input class="form-control" type="hidden" name="id" value="<%=user._id%>">
											</form>
										</td>
										<td class="align-middle">
										  <form action="/opcenter/deleterequest/<%=request._id%>" method="post">
											  <input class="form-control" type="hidden" name="requestType" value="<%=request.requestType%>">
											  <button class="btn btn-danger btn-sm">Delete Request</button>
											  <input class="form-control" type="hidden" name="id" value="<%=user._id%>">
										  </form>
										</td>
									</tr>
								<% } %>
							<% } %>
						<% }) %>
                    </tbody>
                </table>
            </div>
        </div>
		<%- requestsPagination %>
	</div>
</div>

<div class="fixed-bottom">
<% include ../partials/footer %>